.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 3  ;
  color: white;
}
.left-arrow {
  left: 10px;
 }
.right-arrow {
  right: 10px;
}