.card {
    position: absolute;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    width: 400px;
    height: 400px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    border-radius: 10px;
    transform: scale(0.8);
    border: 2px solid var(--color-red); 
}

.card.active {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}
.card.left {
    transform: translateX(-100%) scale(0.7);
    z-index: 0;
    width: 350px;
}
.card.right {
    transform: translateX(100%) scale(0.7);
    z-index: 0;
    width: 350px;
}

.card-header {
    background-color: var(--color-red);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 5px;
}
.card-footer {
    display: block;
    background-color: var(--color-red);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    padding: 5px;
    font-size: xx-small;
}

.image-container {
    /* position: relative; */
    /* width: 100%; */
    overflow: hidden;
    /* background-color: var(--color-grey-light); */
}
.slideshow-image,
.static-image {
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.video-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(220, 18, 18, 0.5);
    padding: 5px;
    padding-top: 0;
    border-radius: 30%;
    cursor: pointer;
    font-size: 24px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .card.active {
        width: 300px;
    }
    .card {
        width: 100px;
        height: 80%;
    }
    .card.left, .card.right {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .card.active {
        height: 80%;
        width: 250px !important;
    }

    .card.left, .card.right {
        width: 10px !important;    
    }
}

@media (max-width: 480px) {
    .card.active {
        width: 200px;
    }
    .card.left, .card.right {
        width: 160px;
    }
}
